<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Add Form</title>
</head>
<body bgcolor="#a9a9a9">
<hr>
<div class="container">
    <h2>Budget App</h2>
    <div>
        <form action="#" th:action="@{/save_serv}" th:object="${serv}" method="post">
            <input type="text" th:field="*{value}" placeholder="value"><br>
            <input type="hidden" th:field="*{id}" placeholder="id"><br>
            <input type="text" th:field="*{date}" placeholder="date"><br>

            <input type="submit" th:value="Save">
        </form>
        <hr>
    </div>
</div>

</body>
</html>